$white: #fff;
$gray300: #F5F5F5;
$gray400: #E0E0E0;
$gray450: #D2D2D2;
$gray500: #9E9E9E;
$gray600: #757575;
$gray700: #424242;
$gray750: #616161;
$gray900: #212121;

$primary: #0083FF;
$card-color: #161616;
$font-primary-color: #E4E4E4;
$link: #0064A3;
$secondary: #002C51;
$success: #3C9526;
$success10: rgba(60, 149, 38, 0.1);
$success100: #ECF5EA;
$success300: #C5DFBE;
$error: #EF0B0B;
$error10: rgba(239, 11, 11, 0.10);
$error100: #FEE7E7;
$error300: #FAB6B6;